  <h1>Bienvenido a Humberto.com!</h1>
  <link rel="stylesheet" type="text/css" href="./css/index.css">
  <a href="/<%= "login" %>"><button id="login" type="button">Login</button></a>
  <a href="/<%= "register" %>"><button id="register" type="button">Registrate</button></a>

  
